.combo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid blue 2px;
  width: 100%;
}

.icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}