.combo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid blue 2px;
  width: 100%;
}

.icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video-button {
  display: flex;
  margin-left: 95%;
}

.video-button button{
  font-size: 2rem;
}

.buttons-container {
  display: flex;
  margin-left: 91%;
}

.buttons-container button {
  font-size: 2rem;
}