.glossary-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 25vw;
  border: solid #007bff;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.glossary-item img {
  margin-right: 3vw;
  margin-left: 3vw;
}

.glossary-item p {
  width: 15vw;
  font-size: 2rem;
  margin-right: 3vw;
}