.picker-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid pink 2px;
}

.picker-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  border: solid red 2px;
}

.picker-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid red 4px;
  width: 100%;
}

.picker-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: solid red 2px;
}

.picker-directions {
  display: flex;
  flex-direction: column;
}