.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-header {
  font-size: 3rem;
}

.form-input {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 3rem;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.form-button {
  margin-top: 1vh;
  font-size: 2rem;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #0056b3;
}

.errors-list {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.errors-list li {
  padding-right: 1vw;
  font-size: 1.7rem;
  list-style: square;
  color: red;
}