.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  font-size: 3rem;
}

.form-input {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 3rem;
}

.form-button {
  margin-top: 1vh;
  font-size: 2rem;
}