.upload-combo-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: solid red 2px;
}

.combo-details-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25vw;
  border: solid blue 2px;
}

.combo-builder-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  border: solid black 2px;
}

.combo-video-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25vw;
  border: solid blue 2px;
}