.upload-combo-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: solid red 2px;
}

.combo-details-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25vw;
  border: solid blue 2px;
}

.combo-builder-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  border: solid black 2px;
}

.combo-video-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25vw;
  border: solid blue 2px;
}

.input-container {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container input {
  border: solid black 2px;
  font-size: 1.1rem;
}

.input-container textarea {
  font-size: 1.1rem;
  height: 7vh;
  width: 15vw;
  resize: none;
  border: solid black 2px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
}