.upload-combo-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: solid red 2px;
  height: 100%;
}

.combo-video-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw;
  border: solid blue 2px;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center
}

.button-column {
  display: flex;
  flex-direction: column;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center
}

.submit-combo-button {
  font-size: 2rem;
  border: solid black 2px;
  margin: 1em;
}

.delete-combo-button {
  font-size: 2rem;
  border: solid red 2px;
  color: red;
  margin-top: 1em;
}

.combo-video-container input {
  border: solid black 2px;
  font-size: 1.1rem;
}

.check-video-button {
  font-size: 1.2rem;
  border: solid black 2px;
  margin: 1vw;
}

.errors-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.errors-list li {
  padding-right: 1vw;
  font-size: 1.1rem;
  list-style:square;
  color: red;
}